*{
    background-color: #becbff;
    font-family: sans-serif;
    font-size: 21px;
}

.product-image > img {
    width: 250px;
    height: 250px;
}
.product {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #a0b6ff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0730fd,
            0 0 151px #0080ff;

}
.size-box {
    display: flex;
}

.color-box {
    display: flex;
    width: 50px;
    margin-top: 10px;
}
.main {
    margin-left: 230px;
    display: flex;
}