*{
    background-color: #becbff;
    font-family: sans-serif;
    font-size: 21px;
}

.product-image > img {
    max-width: 500px;
}
.product {
    color: #fff;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #8395ff,
            0 0 151px #72b9ff;

}
